@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
@model List<StudentManager.DTOs.LopDTO>
<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    p {
        color: red;
        display: none;
    }
</style>

<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Quản lý lớp học</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <b class="m-0 font-weight-bold text-primary">Danh sách lớp học</b>&ensp;
                            <a href="" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Thêm lớp mới</a>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên lớp</th>
                                            <th>Sĩ số</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(Model.IndexOf(item)+1)</td>

                                                @if (@item.TenLop == null || item.TenLop == "")
                                                {
                                                    <td style="color:red">N/A</td>
                                                }
                                                else
                                                {
                                                    <td>@item.TenLop</td>
                                                }
                                                <td>@item.SiSo</td>
                                                <td>
                                                    <a href="/Lop/ListStudent?idClass=@item.MaLop" class="btn btn-sm btn-outline-info">Danh sách sinh viên</a>
                                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary" onclick="suaLopHoc(@item.MaLop)">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="confirmDelete(@item.MaLop)" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>

<div class="modal fade" id="modalEdit" role="dialog" aria-hidden="true"></div>

<div class="modal fade" id="exampleModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Lop/AddClass" method="post" name="nameForm" id="idForm">
                <div class="modal-header">
                    <h4 style="text-align:left" class="modal-title">Thêm lớp mới:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Nhập tên lớp: </label>
                    <input type="text" class="form-control" name="TEN_LOP" />
                    <p style="display:none" id="ten">Vui lòng nhập tên</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="checkName()">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="modalDelete" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title w-100" style="text-align:center;color:red">
                    <i class="far fa-times-circle" hidden></i>
                    Xác nhận
                </h3>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center" class="modal-title w-100">Bạn có chắc chắn muốn xóa lớp này?</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <a id="delete" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>
<div id="modalAdd" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title w-100" style="text-align:center;color:red">
                    <i class="far fa-times-circle" hidden></i>
                    Xác nhận
                </h3>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center" class="modal-title w-100">Bạn có chắc chắn muốn thêm lớp này?</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button onclick="confirmAdd()" class="btn btn-danger">Thêm</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $('#modalEdit').on('show.bs.modal')
        $(document).ready(function () {
            var errMsg = ('@TempData["Message"]');
            if (errMsg) {
                alert('Lớp đã bị trùng');
            }
        })

        window.setTimeout('sessionNotification()', 30 * 60 * 1000);  //30 minutes

        function sessionNotification() {
            alert("Phiên làm việc của bạn đã hết hạn");
            window.location = '/Home/LogIn';
        }

    </script>
}
<script>


    function suaLopHoc(idClass) {
        $.ajax({
            url: '/Lop/EditClass',
            data: { idClass: idClass },
            dataType: 'html',
            success: function (result) {
                $('#modalEdit').html(result);
                $('#modalEdit').modal('show');
            }
        });
    }
    function confirmDelete(idClass) {
        $('#modalDelete').modal('show');
        var result = document.getElementById('delete');
        result.href = '/Lop/DeleteClass?idClass=' + idClass;
    }
    function checkName() {
        var ten = document.forms["nameForm"]["TEN_LOP"].value;

        if (ten == "") {
            var notification1 = document.getElementById("ten");
            if (ten == "") {
                notification1.style.display = "block";
            }
            return false;
        } else {
            $('#modalAdd').modal('show');
        }
    }
    function confirmAdd() {
        document.getElementById("idForm").submit();
    }

</script>
