@{
    ViewBag.Title = "EditStudent";
    Layout = null;
}

@model StudentManager.ConnectDB.SINHVIEN
<style>
    form {
        margin: 20px;
    }

    b {
        color: red;
    }

    p {
        color: red;
        display: none;
    }
</style>
<form name="myForm" action="/Lop/UpdateStudent?idClass=@ViewBag.IdClass" onsubmit="return validateForm()" method="post">
    <h3 style="color:darkblue">Chỉnh sửa thông tin sinh viên: @Model.NAME</h3>
    <div class="form-group">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="ID_CLASS" value="@ViewBag.IdClass" />
        <label>Họ và tên <b>&#8727;</b></label>
        <input type="text" class="form-control" name="NAME" placeholder="Họ và tên" value="@Model.NAME">
        <p id="ten">Vui lòng nhập tên</p>
    </div>
    <div class="form-group">
        <label>Ngày sinh <b>&#8727;</b></label>
        <input type="text" class="form-control" name="NGAYSINH" placeholder="Ngày sinh" value="@string.Format("{0:dd/MM/yyyy}",@Model.DateOfBirth)">
        <p id="ngaysinh">Vui lòng nhập ngày sinh theo đúng định dạng dd/mm/yyyy</p>
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <textarea type="text" class="form-control" name="DIACHI" placeholder="Địa chỉ">@Model.Address</textarea>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="EMAIL" placeholder="Email" value="@Model.Email">
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
<script>
    function validateForm() {
        var ten = document.forms["myForm"]["NAME"].value;
        var ngaysinh = document.forms["myForm"]["NGAYSINH"].value;
        if (ten == "" || ngaysinh == "") {
            var notification1 = document.getElementById("ten");
            var notification2 = document.getElementById("ngaysinh");
            if (ten == "") {
                notification1.style.display = "block";
            } else {
                notification1.style.display = "none";
            }
            if (ngaysinh == "") {
                notification2.style.display = "block";
            } else {
                notification2.style.display = "none";
            }
            return false;
        } else {
            return true;
        }

    }
</script>